[Unit]
Description=Jenkins deloyment-gunicorn daemon
Requires=jenkins2-deployment-gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=root
#User=frs
#Group=frs
# Group=someuser
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/root/frs_cicd/CICD2
ExecStart=/root/frs_cicd/CICD2Env/bin/gunicorn  --timeout 0   Django_CICD.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=50
PrivateTmp=true
#automatic restart
Restart=always

[Install]
WantedBy=multi-user.target